<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Detail Candidate - Candidate Management</title>
</head>
<body>
    <div>
        <label>ID Candidate: </label> <p th:text="${candidateDetail.get().id}"></p>
        <label>Full Name: </label> <p th:text="${candidateDetail.get().fullName}"></p>
        <label>Phone: </label> <p th:text="${candidateDetail.get().phone}"></p>
        <label>Email: </label> <p th:text="${candidateDetail.get().email}"></p>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>ID Company</td>
                        <td>Roles</td>
                        <td>Description</td>
                        <td>From Date</td>
                        <td>To Date</td>
                    </tr>
                </thead>
                <tbody th:each="experience : ${candidateDetail.get().experiences}">
                    <tr>
                        <td th:text="${experience.id}"></td>
                        <td th:text="${experience.roles.toString()}"></td>
                        <td th:text="${experience.workDescription}"></td>
                        <td th:text="${experience.fromDate}"></td>
                        <td th:text="${experience.toDate}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>